@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">About Joel Hilton</h1>
</div>

<br /><br />

<div class="text-center">
    <h3>Quick Wits Comedy</h3>
    <p>Joel Regularly Performs here and loves being a part of this team.</p>
    <p>Every show is thoroughly entertaining. Find his and other shows by clicking the link below.</p>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
</div>

<br />
<br />

<div class="text-center">
    <h3>Baconsale</h3>
    <h5>A Hickory-Smoked Pop Culture Podcast</h5>
    <p>Listen to Joel's weekly podcast about films and pop culture.</p>
    <a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" height="400"></a>
    <br />
    <a href="https://baconsale.com/">Baconsale Podcast</a>
</div>